.main
  .main__header
    .main__header__left
      .main__header__left__name
        = @group.name
      .main__header__left__menber
        Member：
        -@group.users.each do |user|
          = user.name + " "
    .main__header__right 
      =link_to edit_group_path(@group) do
        Edit
  .main__messages
    = render @messages
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'